/.output
/uprobe_userapi
/uprobe_userapi_app
/bootstrap
/bootstrap_igsys
/minimal
/minimal_legacy
/minimal_ns
/uprobe
/kprobe
/fentry
/profile
/usdt
/sockfilter
/tc
/ksyscall
/task_iter
/lsm
/cmake-build-debug/
/cmake-build-release/
/openat
/compile_commands.json
/.cache
