/.output
/uprobe_userapi
/uprobe_userapi_app
/bootstrap
/bootstrap_igsys
/minimal
/minimal_legacy
/minimal_ns
/uprobe
/kprobe
/fentry
/profile
/usdt
/sockfilter
/tc
/ksyscall
/task_iter
/lsm
/cmake-build-debug/
/cmake-build-release/
/openat
/get_pkts_legacy_mode
/get_pkts_skelton_mode
/compile_commands.json
/.cache
